/* 
    Document   : layout
    Created on : 22 mars 2013, 12:48:01
    Author     : cadegenn
    Description:
        Override template's layout.css
*/

ul.actions {
	list-style: none;
}
span.action {
	font-size: 24px;
	color: black;
}

.clr {
	clear: both;
}